<header class="header bg-light-bg dark:bg-dark-bg flex items-center w-full" [ngClass]="{dark: (theme$ | async) === 'dark'}">
   
   <div class="logo-wrapper">
      @if ((theme$ | async) === 'dark') {
         <img class="logo" src="/images/logo.svg" alt="">
      } @else {
         <img class="logo" src="/images/logo-light.svg" alt="">
      }
   </div>

   <!-- mobile view -->
   <img class="logo-mobile" src="/images/logo-mobile.svg" alt="logo mobile">
   <div class="mobile-menu" (click)="openDialogMobileMenu()">
      <div class="title">{{(board$ | async)?.name}}</div>
      <div class="arrow-wrapper" [ngClass]="{open: menuOpen}">
         <svg class="arrow" width="10" height="7" xmlns="http://www.w3.org/2000/svg"><path stroke="#635FC7" stroke-width="2" fill="none" d="m1 1 4 4 4-4"></path></svg>
      </div>
   </div>
   <!-- mobile view -->

   <div class="main-wrapper flex justify-between items-center w-full">
      <div class="title">{{ (board$ | async)?.name }}</div>
      <div class="flex items-center buttons-wrapper">
         <app-button class="mr-4 button-add-new-task" (click)="addNewTask()">+ Add New Task</app-button>
         <app-button class="mr-2 button-add-new-task-mobile" (click)="addNewTask()" size="mobile"><img src="/images/plus.svg" alt=""></app-button>
         <app-button-dropdown position="right">
            <div class="flex flex-column edit-delete-wrapper">
               <button class="edit-board" (click)="editBoard()">Edit Board</button>
               <button class="delete-board" (click)="openDialogDeleteBoard()">Delete Board</button>
            </div>
         </app-button-dropdown>
      </div>
   </div>
</header>