@import '../../styles.scss';

.header {
   height: 96px;
   position: fixed;
   z-index: 1000;
   top: 0;
   left: 0;
   background-color: #ffffff;
   border-bottom: 1px solid $light-border;   

   &.dark {
      background-color: $dark-main;
      border-bottom: 1px solid $dark-border;   
      .logo-wrapper {
         border-right: 1px solid $dark-border;
      }
   }

   .mobile-menu {display: none;}
   .logo-mobile {display: none;}

   .logo-wrapper {
      width: 300px;
      flex-shrink: 0;
      border-right: 1px solid $light-border;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 32px;
      padding-bottom: 6px;
   }
   .main-wrapper {
      padding-right: 32px;
      .title {
         font-size: 24px;
         font-weight: 700;
         width: 200px;
         text-overflow: ellipsis;
         text-wrap: nowrap;
         overflow: hidden;
         margin-left: 32px;
      }

      .buttons-wrapper {
         .button-add-new-task {display: block;}
         .button-add-new-task-mobile {display: none}
      }
   }
}
.edit-delete-wrapper { 
   gap: 10px;
   .edit-board {
      color: $text-gray;
      font-weight: 500;
      transition: opacity 200ms ease;
      &:hover {
         opacity: .7;
      }
   }
   .delete-board {
      color: $danger;
      font-weight: 500;
      transition: opacity 200ms ease;
      &:hover {
         opacity: .7;
      }
   }
}
.button-close {
   display: none;
}
@media only screen and (min-width: 800px) {
   .header { 
      .main-wrapper {
         .title {
            width: 240px;
         }
      }
   }
}
@media only screen and (min-width: 1024px) {
   .header { 
      .main-wrapper {
         .title {
            width: 380px;
         }
      }
   }
}
@media only screen and (min-width: 1200px) {
   .header { 
      .main-wrapper {
         .title {
            width: 540px;
         }
      }
   }
}
@media only screen and (min-width: 1400px) {
   .header { 
      .main-wrapper {
         .title {
            width: 740px;
         }
      }
   }
}
@media only screen and (max-width: $mobile-breakpoint) {
   .logo-wrapper {
      display: none !important;
   }
   .header {
      .logo-mobile {
         display: block;
         padding-left: 16px;
         padding-right: 8px;
      }
      .mobile-menu {
         max-width: 160px;
         font-size: 23px;
         font-weight: bold;
         display: flex;
         align-items: center;
         flex-shrink: 1;
         padding-left: 0px;
         &:hover {cursor: pointer;}
         
         .title {
            text-wrap: nowrap;
            overflow: hidden;
            font-size: 18px;
         }
         .arrow-wrapper {
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 8px;
            padding-right: 8px;
            .arrow {
               transition: 200ms ease all;
            }
            &.open {
               .arrow {
                  transform: rotate(180deg) ;
               }
            }
         }

      }
      .main-wrapper {
         padding-right: 16px;
         .title {
            display: none;
         }

         .buttons-wrapper {
            margin-left: auto;
            .button-add-new-task {display:none}
            .button-add-new-task-mobile {display: block}
            .edit-delete-wrapper {
               margin-right: 8px;
            }
         }
      }
      
   }
}