<header class="header bg-light-bg dark:bg-dark-bg flex items-center w-full">
   <div class="logo-wrapper">
      <img class="logo" src="/images/logo.svg" alt="">
   </div>
   <div class="main-wrapper flex justify-between items-center w-full pr-8">
      <div class="title">{{ (board$ | async)?.name }}</div>
      <div class="flex items-center">
         <app-button class="mr-4">+ Add New Task</app-button>
         <app-button-dropdown position="right">
            <div class="flex flex-column edit-delete-wrapper">
               <button class="edit-board" (click)="editBoard()">Edit Board</button>
               <button class="delete-board" (click)="openDialogDeleteBoard()">Delete Board</button>
            </div>
         </app-button-dropdown>
      </div>
   </div>
</header>