<div class="dialog-container" [ngClass]="{dark: (theme$ | async) === 'dark'}">
   <h2 class="title">Edit Board</h2>
   <button class="button-close" (click)="dialogRef.close()">
      <img src="/images/x.svg" alt="">
   </button>
   <form action="" [formGroup]="form" (ngSubmit)="submit($event)">
      <label for="input-name" class="block mb-4">
         <div class="label mb-2">Name</div>
         <div class="relative">
            <app-input [control]="form.controls.name" [isError]="submitted && (form.controls.name.hasError('required') || form.controls.name.hasError('forbiddenName'))" />
            @if (submitted && form.controls.name.hasError('required')) {
               <div class="error">Required</div>
            }
            @if (submitted && form.controls.name.hasError('forbiddenName')) {
            <!-- @if (submitted && form.controls.name.hasError('forbiddenName')) { -->
               <div class="error">Used</div>
            }
         </div>
      </label>

      <label class="block mb-4">
         <div class="label mb-2">Columns</div>
         @for (control of form.controls.columns.controls; track $index) {
            <div class="mb-2 flex relative">
               <div class="relative w-full">
                  <app-input (onFocusout)="inputColumnFocusout($event, $index)" [control]="control" [isError]="submitted && form.controls.columns.controls[$index].hasError('required')" class="block w-full" #column />
                  @if (submitted && form.controls.columns.controls[$index].hasError('required')) {
                     <div class="error">Required</div>
                  }
                  @if (submitted && form.controls.columns.controls[$index].hasError('forbiddenName')) {
                     <div class="error">Used</div>
                  }
               </div>
               @if (form.controls.columns.controls.length > 1) {
                  <button class="button-remove-column button-outline" type="button" (click)="removeColumn($index)" [disabled]="data.columns[$index]?.tasks.length > 0">
                     <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg"><g fill="#828FA3" fill-rule="evenodd"><path d="m12.728 0 2.122 2.122L2.122 14.85 0 12.728z"></path><path d="M0 2.122 2.122 0 14.85 12.728l-2.122 2.122z"></path></g></svg>
                  </button>
               }
            </div>
         }
      </label>
      @if (form.controls.columns.length < 6) {
         <app-button (click)="addNewColumn()" size="small" color="white" class="block w-full mb-4" classes="w-full">+ Add New Column</app-button>
      }
      <app-button type="submit" size="small" class="w-full" classes="w-full">Save Changes</app-button>
   </form>
</div>