@import '../../styles.scss';

.dialog-container {
    position: relative;
}
.title-wrapper {
    display: flex;
    align-items: center;
    .title {
        margin-right: auto;
    }
    .button-dropdown {
    }
}
.text-label { color: $text-gray}
.edit-delete-wrapper { 
    gap: 10px;
    .edit-board {
       color: $text-gray;
       font-weight: 500;
       transition: opacity 200ms ease;
       &:hover {
          opacity: .7;
       }
    }
    .delete-board {
       color: $danger;
       font-weight: 500;
       transition: opacity 200ms ease;
       &:hover {
          opacity: .7;
       }
    }
 }
.description {
    font-size: .8125rem;
    color: #828fa3;
    color: $text-gray;
    line-height: 23px;
    max-height: 10rem;
    overflow-x: hidden;
    word-break: break-word;
    overflow-y: auto;
}
.dark {
    .title {
        color: #000;
    }
    .text-label {
        color: #fff;  
    }
}