<div class="dialog-container">
   <button class="button-close" (click)="dialogRef.close()">
      <img src="/images/x.svg" alt="">
   </button>

   <div class="title-wrapper">
      <div class="title">{{ task.title }}</div>
      
      <app-button-dropdown class="button-dropdown" position="center">
         <div class="flex flex-column edit-delete-wrapper">
            <button class="edit-board" (click)="openDialogEditTask(task)">Edit Task</button>
            <button class="delete-board" (click)="openDialogDeleteTask(task)">Delete Task</button>
         </div>
      </app-button-dropdown>
   </div>
   <div class="description mb-2">{{ task.description }}</div>
   <label class="label mb-2">
      <div class="mb-2 text-label">Subtasks (0 of 1)</div>
      @for (subtask of task.subtasks; track $index) {
         <app-checkbox [text]="subtask.title" [checked]="subtask.isDone" (click)="toggleSubtask($index)" />
      }
   </label>
   <label class="label">
      <div class="mb-2 text-label">Current Status</div>
      <app-select [columns]="columns" (onSelect)="moveColumn($event)" [currentColumn]="columns[data.columnIndex]" />
   </label>

</div>