@import '../../styles.scss';

.container {
   position: relative;
   .button {
      position: relative;
      background-color: transparent;
      border: 2px solid rgba(130, 143, 163, .4);
      border-radius: 4px;
      padding: 8px 16px;
      color: #000;
      width: 100%;
      min-height: 39px;
      outline: none;
      &:focus-visible {
         border-color: $primary;
      }
      &.error {
         border: 2px solid $danger;
      }
      &:disabled {
         opacity: .3;
      }
      .selected-name {
         font-size: 13px;
         font-weight: 500;
      }
      .arrow {
         position: absolute;
         right: 16px;
         top: 50%;
         transform: translateY(-50%);
         transition: transform 200ms ease;
         &.show {
            transform: rotate(180deg) translateY(50%);
         }
      }
      
   }
}
.dropdown {
   min-width: 190px;
   background-color: #fff;
   box-shadow: 0 0 8px #364e7e1a;
   &.dark {
      background-color: $dark-bg;
      box-shadow: none;
   }
   padding: 16px;
   border-radius: 4px;

   position: absolute;
   top: 12px;

   &.pos-right {right: -22px;}
   &.pos-left {left: 0;}
   &.pos-center {
      left: 50%;
      transform: translateX(calc(-50% + 8px));
   }

   .option {
      font-size: 13px;
      font-weight: 500;
      color: $text-gray;
      margin-bottom: 8px;
      &:hover { 
         cursor: pointer;
         color: #ffffff;
         font-weight: 600;
      }
   }
}
.dark {
   .button {
      border: 2px solid #4e4f61 !important;
      color: #fff;
   }
}

// 2px solid rgba(130, 143, 163, .4);