@import '../../styles.scss';

.main {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   padding-top: 96px;
   padding-left: 300px;
   height: 100vh;
   width: 100%;
   transition: .5s;
   overflow: auto;
   &.hide {
      padding-left: 0px;
      .aside {
         left: -300px;
      }
   }
   .button-show-sidebar {
      position: fixed;
      left: 0;
      bottom: 100px;
   }
   .aside {
      position: fixed;
      left: 0;
      width: 300px;
      background-color: $dark-main;
      flex-shrink: 0;
      height: calc(100vh - 96px);
      overflow-y: auto;
      transition: .5s;
      padding-right: 24px;
      padding-top: 16px;

      .boards-count {
         color: $text-gray;
         text-transform: uppercase;
         letter-spacing: 2.5px;
         font-size: 12px;
         font-weight: 700;
         padding-left: 32px;
         margin-bottom: 16px;
      }
      .boards-wrapper {
         .board {
            padding: 11px 24px 11px 32px;
            border-radius: 0px 50px 50px 0px;
            display: flex;
            align-items: center;
            color: $text-gray;
            font-weight: 700;
            margin-bottom: 4px;
            transition: 200ms ease;
            &.active {
               background-color: $primary;
               color: #fff;
            }
            &:hover {
               cursor: pointer;
               background-color: $primary-light;
               color: #fff;
               &.active {
                  background-color: $primary;
               }
            }
            .icon-span {
               display: flex;
               margin-right: 16px;
            }
         }
      }
      .button-new-board {
         color: $primary;
         transition: 200ms all;
         padding-left: 32px;
         padding-top: 11px;
         padding-bottom: 11px;
         margin-bottom: 32px;
         &:hover {
            opacity: .5;
         }
         .icon {
            margin-right: 16px;
         }
         .text {
            font-weight: 700;
         }
      }
   }

   .board-section {
      height: 100%;
      overflow: auto;
      width: 100%;
      
      .wrapper {
         width: fit-content;
         min-width: 1500px;
         flex-wrap: nowrap;
         gap: 32px;
         padding: 32px;
         
         .tasks-wrapper {
            width: 280px;
            flex-shrink: 0;
            
            .task {
               border-radius: 8px;
               border: 1px solid $dark-border;
               background-color: $dark-main;
               margin-bottom: 16px;
            }
         }
      }
   }
}