@import '../../styles.scss';

.main {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   padding-top: 96px;
   padding-left: 300px;
   height: 100vh;
   width: 100%;
   transition: 200ms ease padding;
   overflow: auto;
   background-color: $light-bg;

   &.hide {
      padding-left: 0px;
      .aside {
         left: -300px;
      }
      .button-show-sidebar {
         opacity: 1;
      }
   }

   .button-show-sidebar {
      height: 48px;
      width: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1px 6px;
      position: fixed;
      left: 0;
      bottom: 32px;
      border-radius: 0px 50px 50px 0px;
      transition: 700ms opacity ease;
      opacity: 0;
   }
   .aside {
      position: fixed;
      left: 0;
      width: 300px;
      flex-shrink: 0;
      height: calc(100vh - 96px);
      overflow-y: auto;
      transition: 200ms ease left;
      padding-right: 24px;
      padding-top: 16px;
      padding-bottom: 32px;
      border-right: 1px solid $light-border;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;

      .boards-count {
         color: $text-gray;
         text-transform: uppercase;
         letter-spacing: 2.5px;
         font-size: 12px;
         font-weight: 700;
         padding-left: 32px;
         margin-bottom: 16px;
      }
      .boards-wrapper {
         .board {
            padding: 11px 24px 11px 32px;
            border-radius: 0px 50px 50px 0px;
            display: flex;
            align-items: center;
            color: $text-gray;
            font-weight: 700;
            margin-bottom: 4px;
            transition: 200ms ease;
            &.active {
               background-color: $primary;
               color: #fff;
            }
            &:hover {
               cursor: pointer;
               background-color: $primary-light;
               color: #fff;
               &.active {
                  background-color: $primary;
               }
            }
            .icon-span {
               display: flex;
               margin-right: 16px;
            }
         }
      }
      .button-new-board {
         color: $primary;
         transition: 200ms all;
         width: 100%;
         padding-left: 32px;
         padding-top: 11px;
         padding-bottom: 11px;
         margin-bottom: 32px;
         &:hover {
            opacity: .5;
         }
         .icon {
            margin-right: 16px;
         }
         .text {
            font-weight: 700;
         }
      }
      .button-hide-sidebar {
         display: flex;
         align-items: center;
         width: 100%;
         font-size: 15px;
         color: $text-gray;
         font-weight: bold;
         padding-left: 32px;
         transition: 200ms opacity ease;
         &:hover {
            opacity: .5;
         }
      }
      .switch-theme-wrapper {
         background-color: $light-bg;
         border-radius: 8px;
         margin-left: 32px;
         margin-right: 20px;
         margin-bottom: 16px;
         display: flex;
         justify-content: center;
         align-items: center;
         height: 48px;
         transition: background-color 0ms ease !important;
         
         .switch-theme {
            background-color: $primary;
            height: 20px;
            width: 40px;
            border-radius: 20px;
            padding: 6px 4px;
            display: flex;
            align-items: center;
            margin: 0px 32px;
            position: relative;

            &.light {
               .circle {
                  left: 22px;
               }
            }
            .circle {
               height: 14px;
               width: 14px;
               background-color: #ffffff;
               border-radius: 100%;
               position: absolute;
               left: 4px;
               transition: 200ms ease;
            }
         }
         .icon {
            color: $text-gray;
         }
      }
   }
   .board-section {
      height: 100%;
      overflow: auto;
      width: 100%;
      
      .wrapper {
         display: flex;
         width: fit-content;
         min-width: 1500px;
         flex-wrap: nowrap;
         gap: 32px;
         padding: 24px 32px;
         height: 100%;
         .tasks-wrapper {
            width: 280px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            .column-name {
               display: flex;
               align-items: center;
               margin-bottom: 24px;
               .circle {
                  display: block;
                  width: 15px;
                  height: 15px;
                  border-radius: 50px;
                  margin-right: 12px;
                  &.color-0 {
                     background-color: #49c4e5;
                  }
                  &.color-1 {
                     background-color: #8471f2;
                  }
                  &.color-2 {
                     background-color: #67e2ae;
                  }
                  &.color-3 {
                     background-color: #e5a449;
                  }
                  &.color-4 {
                     background-color: #2a3fd8;
                  }
                  &.color-5 {
                     background-color: #c36e6e;
                  }
   
               }
               .text {
                  font-size: 12px;
                  font-weight: bold;
                  color: $text-gray;
                  text-transform: uppercase;
                  letter-spacing: 2px;
               }
            }
            .task {
               border-radius: 8px;
               background-color: #fff;
               margin-bottom: 16px;
               padding: 24px 16px;
               box-shadow: 0 4px 6px #364e7e1a;
               .title {
                  font-weight: bold;
                  font-size: 15px;
                  margin-bottom: 8px;
               }
               .subtasks-done {
                  color: $text-gray;
                  font-size: 12px;
                  font-weight: bold;
               }
               &:hover {
                  cursor: pointer;
               }
            }
            .empty-column {
               height: 100%;
               border-radius: 8px;
               // border: 2px dashed $dark-border;
               border: 2px dashed rgba(130, 143, 163, .4);
            }
         }

         .add-new-column {
            display: flex;
            padding-top: 42px;
            button {
               width: 280px;
               background: rgb(2,0,36);
               background: linear-gradient(to bottom, rgba(121, 132, 147, .2), rgba(130, 143, 163, .1), rgba(130, 143, 163, 0));
               color: $text-gray;
               display: flex;
               height: 100%;
               justify-content: center;
               align-items: center;
               border-radius: 8px;
               font-size: 24px;
               font-weight: 600;
               transition: 200ms color ease;
               
               &:hover {
                  color: $primary;
               }
            }
         }
      }
   }

   &.dark {
      background-color: $dark-bg;
      .aside {
         background-color: $dark-main;
         border-right: 1px solid $dark-border;
      }
      .task { 
         background-color: $dark-main !important;
         border: 1px solid $dark-border;
         box-shadow: none;
      }
      .switch-theme-wrapper {
         background-color: $dark-bg !important;
      }
      .empty-column {
         border: 2px dashed darken($text-gray, 25%) !important;
      }
   }
}

@media only screen and (max-width: $mobile-breakpoint) {
   .main {
      padding-left: 0px !important;
   }
   .aside {
      left: -300px !important;
   }
}