<main class="main" #main>
      <button (click)="toggleSidebar()" class="button button-show-sidebar">Show</button>
   <aside class="aside" #aside>
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quaerat ipsum fugit dolorem consequatur rerum nesciunt ducimus eveniet similique ad nemo in. Accusamus excepturi quos animi quod porro nostrum explicabo!</div>
      <button (click)="toggleSidebar()" class="button">Show/hide sidebar</button>

   </aside>
   <div class="board-section">
      <div class="wrapper flex">
         <div class="tasks-wrapper">
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
         </div>
         <div class="tasks-wrapper">
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
         </div>
         <div class="tasks-wrapper">
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
         </div>

         <!-- <div class="tasks-wrapper">
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
         </div>

         <div class="tasks-wrapper">
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
         </div>

         <div class="tasks-wrapper">
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
            <div class="task">
               <div>Research pricing points of various competitors and trial different business models</div>
               <div>1 of 3 subtasks</div>
            </div>
         </div> -->
      </div>
   </div>
</main>