@import '../../styles.scss';

.title {
   color: $danger;
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 16px;
}
.text {
   font-size: 13px;
   font-weight: 500;
   color: $text-gray;
   line-height: 1.7;
   margin-bottom: 24px;
}
.buttons-wrapper {
   gap: 16px;
}
.button-close {
   position: absolute;
   top: 9px;
   right: 9px;
   display: none;
}
@media only screen and (max-width: $mobile-breakpoint) {
   .button-close {
      display: block;
   }
}