<app-header></app-header>
<app-main></app-main>
<!-- <div class="backing"></div> -->
<!-- 
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, ipsa! Officiis aliquam totam commodi pariatur numquam illo vero eos itaque. Veniam nisi maxime magni ullam est consectetur dignissimos provident corporis.</div>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, ipsa! Officiis aliquam totam commodi pariatur numquam illo vero eos itaque. Veniam nisi maxime magni ullam est consectetur dignissimos provident corporis.</div>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, ipsa! Officiis aliquam totam commodi pariatur numquam illo vero eos itaque. Veniam nisi maxime magni ullam est consectetur dignissimos provident corporis.</div>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, ipsa! Officiis aliquam totam commodi pariatur numquam illo vero eos itaque. Veniam nisi maxime magni ullam est consectetur dignissimos provident corporis.</div>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, ipsa! Officiis aliquam totam commodi pariatur numquam illo vero eos itaque. Veniam nisi maxime magni ullam est consectetur dignissimos provident corporis.</div>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, ipsa! Officiis aliquam totam commodi pariatur numquam illo vero eos itaque. Veniam nisi maxime magni ullam est consectetur dignissimos provident corporis.</div>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, ipsa! Officiis aliquam totam commodi pariatur numquam illo vero eos itaque. Veniam nisi maxime magni ullam est consectetur dignissimos provident corporis.</div>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, ipsa! Officiis aliquam totam commodi pariatur numquam illo vero eos itaque. Veniam nisi maxime magni ullam est consectetur dignissimos provident corporis.</div>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, ipsa! Officiis aliquam totam commodi pariatur numquam illo vero eos itaque. Veniam nisi maxime magni ullam est consectetur dignissimos provident corporis.</div>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, ipsa! Officiis aliquam totam commodi pariatur numquam illo vero eos itaque. Veniam nisi maxime magni ullam est consectetur dignissimos provident corporis.</div>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, ipsa! Officiis aliquam totam commodi pariatur numquam illo vero eos itaque. Veniam nisi maxime magni ullam est consectetur dignissimos provident corporis.</div>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, ipsa! Officiis aliquam totam commodi pariatur numquam illo vero eos itaque. Veniam nisi maxime magni ullam est consectetur dignissimos provident corporis.</div>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, ipsa! Officiis aliquam totam commodi pariatur numquam illo vero eos itaque. Veniam nisi maxime magni ullam est consectetur dignissimos provident corporis.</div>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, ipsa! Officiis aliquam totam commodi pariatur numquam illo vero eos itaque. Veniam nisi maxime magni ullam est consectetur dignissimos provident corporis.</div>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, ipsa! Officiis aliquam totam commodi pariatur numquam illo vero eos itaque. Veniam nisi maxime magni ullam est consectetur dignissimos provident corporis.</div>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, ipsa! Officiis aliquam totam commodi pariatur numquam illo vero eos itaque. Veniam nisi maxime magni ullam est consectetur dignissimos provident corporis.</div>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, ipsa! Officiis aliquam totam commodi pariatur numquam illo vero eos itaque. Veniam nisi maxime magni ullam est consectetur dignissimos provident corporis.</div> -->

<!-- <app-coba /> -->

<!-- <app-coba-create-board /> -->
<!-- <router-outlet></router-outlet> -->

<!-- <button (click)="openDialog()">Open Dialog</button>
<app-coba-create-board /> -->
<!-- <app-coba /> -->