.container {
   width: 300px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
   padding-top: 32px;
}
.task {
   height: 50px;
   background-color: gray;
   margin-bottom: 16px;
   padding: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
}