<div class="container">
   <div class="wrapper">
      @for (task of (tasks$ | async); let index = $index; track $index) {
         <div class="task" [attr.data-index]="$index">
            {{ task.name}}
         </div>
      }
   </div>
   <div>
      <h2>Move task</h2>
      <label for="fromIndex">
         <div>From Index</div>
         <input type="number" id="fromIndex" [value]="fromIndex" (change)="fromIndexChange($event)">
      </label>
      <label for="toIndex">
         <div>To Index</div>
         <input type="number" id="toIndex" [value]="toIndex" (change)="toIndexChange($event)">
      </label>
      <button class="button" (click)="moveTask()">Dor</button>
   </div>
</div>