@import '../../styles.scss';

.container {
   position: relative;
   &.dark {
      .button {
         &:hover {
            background-color: $dark-bg;
         }
      }
   }
   .button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 8px;
      border-radius: 16px;
      color: $button-dropdown;
      background-color: transparent;
      
      &:hover {
         background-color: #e4ebfa;
      }
   }
}
.dropdown {
   min-width: 190px;
   padding: 18px 20px;
   border-radius: 8px;
   background-color: #fff;
   box-shadow: 0 0 8px #364e7e1a;;
   position: absolute;
   top: 12px;

   &.pos-right {right: -22px;}
   &.pos-left {left: 0;}
   &.pos-center {
      left: 50%;
      transform: translateX(calc(-50% + 8px));
   }

   &.dark {
      background-color: darken($color: $dark-bg, $amount: 1%);
   }
}