@import '../../styles.scss';

.button {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 8px;
   border-radius: 16px;
   color: $button-dropdown;
   background-color: transparent;

   
   &:hover {
      background-color: $dark-bg;
   }
}