<div class="dialog-container">
   <h2 class="title">Add New Board</h2>
   <form action="" [formGroup]="form" (ngSubmit)="submit($event)">
      <label for="input-name" class="block mb-4">
         <div class="label mb-2">Name</div>
         <app-input [control]="form.controls.name" />
      </label>

      <label class="block mb-4">
         <div class="label mb-2">Columns</div>
         @for (control of form.controls.columns.controls; track $index) {
            <div class="mb-2 flex">
               <app-input [control]="control" class="block w-full" #column />
               @if (form.controls.columns.controls.length > 1) {
                  <button class="button-remove-column" type="button" (click)="removeColumn($index)"><svg width="15" height="15" xmlns="http://www.w3.org/2000/svg"><g fill="#828FA3" fill-rule="evenodd"><path d="m12.728 0 2.122 2.122L2.122 14.85 0 12.728z"></path><path d="M0 2.122 2.122 0 14.85 12.728l-2.122 2.122z"></path></g></svg></button>
               }
            </div>
         }
      </label>

      <app-button (click)="addNewColumn()" size="small" color="white" class="block w-full mb-4" classes="w-full">+ Add New Column</app-button>
      <app-button type="submit" size="small" class="w-full" classes="w-full">Create New Board</app-button>
   </form>
</div>