@import '../../styles.scss';

.button {
   border-radius: 56px;
   font-weight: 700;
   text-align: center;
   transition: background-color 200ms ease;

   &:focus {
      outline: $focus-outline 2px solid;
   }
   
   &.color-primary {
      background-color: $primary;
      &:hover {
         background-color: $primary-light;
      }
   }
   &.color-white {
      background-color: white;
      color: $primary;
      transition: opacity 200ms ease;
      &:hover {
         opacity: .6;
      }
   }
   &.color-danger {
      background-color: $danger;
      color: white;
      transition: opacity 200ms ease;
      &:hover {
         opacity: .6;
      }
   }
   &.medium {
      font-size: 15px;
      padding: 12px 20px;
   }
   &.small {
      font-size: 13px;
      padding: 8px 16px;
   }
   

}