
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$angular-kanban-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($angular-kanban-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($angular-kanban-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($angular-kanban-theme);
/* You can add global styles to this file, and also import other style files */

$primary: #635fc7;
$primary-light: #A8A4FF;
$danger: #ea5555;
$dark-bg: #20212c;
$dark-main: #2b2c37;
$dark-border: #3e3f4e;
$text-gray: #828fa3;
$focus-outline: rgb(230, 181, 97);

$light-bg: #f4f7fd;
$button-dropdown: #828fa3;

/* plus-jakarta-sans-200 - latin */
@font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Plus Jakarta Sans';
   font-style: normal;
   font-weight: 200;
   src: url('./assets/fonts/plus-jakarta-sans-v8-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
 /* plus-jakarta-sans-200italic - latin */
 @font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Plus Jakarta Sans';
   font-style: italic;
   font-weight: 200;
   src: url('./assets/fonts/plus-jakarta-sans-v8-latin-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
 /* plus-jakarta-sans-300 - latin */
 @font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Plus Jakarta Sans';
   font-style: normal;
   font-weight: 300;
   src: url('./assets/fonts/plus-jakarta-sans-v8-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
 /* plus-jakarta-sans-300italic - latin */
 @font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Plus Jakarta Sans';
   font-style: italic;
   font-weight: 300;
   src: url('./assets/fonts/plus-jakarta-sans-v8-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
 /* plus-jakarta-sans-regular - latin */
 @font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Plus Jakarta Sans';
   font-style: normal;
   font-weight: 400;
   src: url('./assets/fonts/plus-jakarta-sans-v8-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
 /* plus-jakarta-sans-italic - latin */
 @font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Plus Jakarta Sans';
   font-style: italic;
   font-weight: 400;
   src: url('./assets/fonts/plus-jakarta-sans-v8-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
 /* plus-jakarta-sans-500 - latin */
 @font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Plus Jakarta Sans';
   font-style: normal;
   font-weight: 500;
   src: url('./assets/fonts/plus-jakarta-sans-v8-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
 /* plus-jakarta-sans-500italic - latin */
 @font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Plus Jakarta Sans';
   font-style: italic;
   font-weight: 500;
   src: url('./assets/fonts/plus-jakarta-sans-v8-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
 /* plus-jakarta-sans-600 - latin */
 @font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Plus Jakarta Sans';
   font-style: normal;
   font-weight: 600;
   src: url('./assets/fonts/plus-jakarta-sans-v8-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
//  /* plus-jakarta-sans-600italic - latin */
 @font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Plus Jakarta Sans';
   font-style: italic;
   font-weight: 600;
   src: url('./assets/fonts/plus-jakarta-sans-v8-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
 /* plus-jakarta-sans-700 - latin */
 @font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Plus Jakarta Sans';
   font-style: normal;
   font-weight: 700;
   src: url('./assets/fonts/plus-jakarta-sans-v8-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
 /* plus-jakarta-sans-700italic - latin */
 @font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Plus Jakarta Sans';
   font-style: italic;
   font-weight: 700;
   src: url('./assets/fonts/plus-jakarta-sans-v8-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
 /* plus-jakarta-sans-800 - latin */
 @font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Plus Jakarta Sans';
   font-style: normal;
   font-weight: 800;
   src: url('./assets/fonts/plus-jakarta-sans-v8-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
 /* plus-jakarta-sans-800italic - latin */
 @font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Plus Jakarta Sans';
   font-style: italic;
   font-weight: 800;
   src: url('./assets/fonts/plus-jakarta-sans-v8-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Plus Jakarta Sans"; 
}
html, body { height: 100%; }
body {
  font-style: normal;
  &.dark {
     color: #fff;
     background-color: $dark-bg;
  }
}

input {
  color: black;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;
  text-align: inherit;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  &:hover {
    cursor: pointer;
  }
}

.button {
  padding: 8px;
  border-radius: 50px;
  background-color: $primary;
}
.button-outline {
  &:focus {
    outline: $focus-outline 2px solid;
  }
}
.label {
  font-size: 12px;
  font-weight: 600;
}

// custom scroll bar
/* width */
::-webkit-scrollbar {
  width: 11.5px;
  height: 11.5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: darken($color: $dark-bg, $amount: 3);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #3E3F4E; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary; 
}

// Corner
::-webkit-scrollbar-corner { 
  background-color: darken($color: $dark-bg, $amount: 3);
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
  border-radius: 0px;
  background-color: transparent;
}
.dialog-container {
  background-color: $dark-main;
  padding: 32px;
  border-radius: 8px;
  .title {
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: bold;
  }
}


// tailwindcss like
.relative {position: relative;}
.block {display: block;}
.flex {display: flex;}
.flex-column { flex-direction: column;}
.items-center {align-items: center;}
.justify-between {justify-content: space-between;}
.w-full {width: 100%}
.text-gray { color: $text-gray;}

@for $i from 1 through 50 {
  // margins
  .mt-#{$i} {
    margin-top: #{$i * 0.250}rem;
  }
  .mb-#{$i} {
    margin-bottom: #{$i * 0.250}rem;
  }
  .ml-#{$i} {
    margin-left: #{$i * 0.250}rem;
  }
  .mr-#{$i} {
    margin-right: #{$i * 0.250}rem;
  }
  // paddings
  .pt-#{$i} {
    padding-top: #{$i * 0.250}rem;
  }
  .pb-#{$i} {
    padding-bottom: #{$i * 0.250}rem;
  }
  .pl-#{$i} {
    padding-left: #{$i * 0.250}rem;
  }
  .pr-#{$i} {
    padding-right: #{$i * 0.250}rem;
  }
}