@import '../../styles.scss';

textarea {
   background-color: transparent;
   border-radius: 4px;
   border: 2px solid rgba(130, 143, 163, .4);
   padding: 8px 16px;
   width: 100%;
   outline: none;
   color: #000;
   font-weight: 500;

   &.dark {
      border: 2px solid #4e4f61;
      color: white;
   }
   
   &:focus-visible {
      border-color: $primary;
   }

   &.error {
      border: 2px solid $danger;
   }
   &:disabled {
      opacity: .3;
   }
}