@import '../../styles.scss';

.dialog-container {
   color: $text-gray;
   text-transform: uppercase;
   font-size: 12px;
   letter-spacing: 1.7px;
   font-weight: bold;
   padding-top: 24px;
   padding-bottom: 24px;
   padding-right: 32px;
   padding-left: 0px;

   .boards-count {
      margin-bottom: 24px;
      padding-left: 28px;
   }
   
   .nav {
      .board {
         display: flex;
         align-items: center;
         width: 100%;
         padding-top: 8px;
         padding-bottom: 8px;
         padding-left: 28px;
         margin-bottom: 2px;
         border-radius: 0 25px 25px 0;

         .icon {
            margin-right: 24px;
            flex-shrink: 0;
         }
         .name{
            font-size: 16px;
            padding-right: 8px;
         }

         &.active {
            background-color: $primary;
            color: #fff;
         }
      }
      .board-create {
         color: $primary;
         margin-bottom: 8px;
      }
   }
}